<a class="nav-link float-right" href="/logout">Logout</a>
<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Catagories</a>
    </li>
</ul>